.right-panel .text {
  color: var(--bgTmavsia);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-panel .text h2 {
  margin: 0;
  font-size: 28px;
  color: var(--textSecondary);
}

.right-panel .text p {
  margin: 0;
  font-size: 16px;
  color: var(--textSecondary);
}

.right-panel .text h4 {
  margin: 0;
  font-size: 32px;
  color: var(--field);
}

.right-panel {
  width: calc(100% - 100px);
  margin: 0 30px 30px 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bgSvetlejsia);
  padding: 20px;
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right-panel::-webkit-scrollbar {
  display: none;
}

.plusRow {
  display: flex;
  flex: 1;
  font-size: 32px;
  color: var(--field);
  min-height: 70px;
  position: relative;
}

.plusRowWithColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  font-size: 32px;
  color: var(--field);
  min-height: 70px;
}

.plusRow.draggingOver {
  background: linear-gradient(
    -45deg,
    #e2e2e2 25%,
    transparent 25%,
    transparent 50%,
    #e2e2e2 50%,
    #e2e2e2 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
}

.plusRowWithColumn.draggingOver {
  background: linear-gradient(
    -45deg,
    #e2e2e2 25%,
    transparent 25%,
    transparent 50%,
    #e2e2e2 50%,
    #e2e2e2 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
}
