.right-panel .text {
  color: var(--bgTmavsia);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-panel .text h2 {
  margin: 0;
  font-size: 28px;
  color: var(--textPrimary);
}

.right-panel .text p {
  margin: 0;
  font-size: 16px;
  color: var(--textSecondary);
}

.right-panel .text h4 {
  margin: 0;
  font-size: 32px;
  color: var(--field);
}

.right-panel {
  width: calc(100% - 100px);
  margin: 0 30px 30px 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bgSvetlejsia);
  padding: 20px;
  position: relative;
  overflow-y: scroll;
  max-height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right-panel::-webkit-scrollbar {
  display: none;
}

.right-panel .column {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: var(--bgSvetlejsia);
  border-radius: 5px;
  min-height: fit-content;
  position: relative;
}

.right-panel .column-droppable {
  background: var(--bgSvetlejsia);
  min-height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.plusRow {
  display: flex;
  flex: 1;
  font-size: 32px;
  color: var(--field);
  min-height: 70px;
  position: relative;
}

.plusRowWithColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  font-size: 32px;
  color: var(--field);
  min-height: 70px;
}
