.column-edit {
    max-width: "200px";
}

.dragging-over {
    background: linear-gradient(-45deg, #e2e2e2 25%, transparent 25%, transparent 50%, #e2e2e2 50%, #e2e2e2 75%, transparent 75%, transparent);
    background-size: "20px 20px";
}