.column {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: var(--bgSvetlejsia);
  border-radius: 5px;
  min-height: fit-content;
  position: relative;
}

.column-droppable {
  background: var(--bgSvetlejsia);
  min-height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.dragging-over {
    background: linear-gradient(-45deg, var(--bgTmavsia) 25%, transparent 25%, transparent 50%, var(--bgTmavsia) 50%, var(--bgTmavsia) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
}