@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bgSvetlejsia: #fff;
  --bgTmavsia: #e2e2e2;
  --field: #1565c0;
  --secondary: #1565c0;
  --textPrimary: white;
  --textSecondary: #101010;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
